@using GR30323_Web.UI.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@using System.Security.Claims;
@if (User.Identity.IsAuthenticated)
@* @if (SignInManager.IsSignedIn(User)) *@
{
@await Component.InvokeAsync("Cart")
<div class="dropdown ms-4 nav-color">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <img src="images/default-picture.png" width="30" alt="User" class="rounded-circle me-2" />
        User@gmail.com
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item">
            <img src="images/default-picture.png" width="50" alt="User" class="rounded-circle me-2" />
            User@gmail.com
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <form id="logoutForm" action="/Account/Logout" method="post">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
                    Logout
                </button>
            </form>
        </li>
    </ul>
</div>
}
else
{
    <ul class="nav nav-color">
    <li class="nav-item ms-auto">
            <a class="nav-item nav-link active" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item nav-color">
            <a class="nav-item nav-link active" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    </ul>
}
